<div class="bg-16 text-center">
  <div class="container phs pvxxl">
    <div class="relative">
      <div class="fsxxl">
        <%= @user.name %>
      </div>
      <div class="absolute left full-width text-center">
        <% unless current_user.following?(@user) %>
          <%= form_for(current_user.relationships.build(followed_id: @user.id)) do |f| %>
            <%= f.hidden_field :followed_id %>
            <%= f.submit "Follow", class: "btn btn-primary" %>
          <% end %>
        <% else %>
          <%= form_for(current_user.relationships.find_by(followed_id: @user.id),
               html: { method: :delete }) do |f| %>
            <%= f.submit "Unfollow", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container phs">
  <div class="row nmhxs mtm">
    <div class="col-xs-8 phxs">
      <% @user.quotes.order("created_at desc").each do |quote| %>
        <div class="mtxxxs-plus phs pvxs bg-16 bss bwhs bwts bwbm bc-2">
          <div class="row nmhxxxs">
            <div class="col-xs-2 phxxxs">
              <div class="mtxs-plus">
                <i class="fa fa-comment"></i> 1
              </div>
              <div class="mtxs-plus">
                <i class="fa fa-star"></i> 1
              </div>
            </div>
            <div class="col-xs-10 phxxxs">
              <div class="fsxs c-2 lhxs">
                <i class="fa fa-quote-left c-10"></i>
                  <%= quote.text %>
                <i class="fa fa-quote-right c-10"></i>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-4 phxs">
    </div>
  </div>
</div>
