<div class="container phxs pbxxl">
  <div class="row nmhxs">
    <div class="col-sm-7 phxs">
      <div class="mtm phxs pvxs bg-16 bss bwhs bwts bwbm bc-2">
        <%= form_for :post, url: posts_path, method: :post, html: { id: "user-posts-create" } do |f| %>
          <%= f.hidden_field :quote_id, class: "js-post-quote-id" %>
        <% end %>
        <%= form_for :quote, url: quotes_path, method: :post, remote: true, html: { id: "quotes-create" } do |f| %>
          <%= f.hidden_field :citable_type, class: "js-quote-citable-type", value: "Source" %>
          <%= f.hidden_field :citable_id, class: "js-quote-citable-id" %>
          <%= f.text_area :text, placeholder: "Quote someone", class: "paxs bss bwas bc-10 full-width" %>
          <%= f.text_field :name, placeholder: "Who said it?", class: "phxs pvxxxs mtxxxs bss bwas bc-10 full-width js-quote-source-name" %>
          <div class="mtxxs text-right">
            <%= f.submit "post", class: "btn btn-primary pvxxxs fsxxs fwl" %>
          </div>
        <% end %>
      </div>
      <div class="mtm">
        <% @posts.each do |post| %>
          <%= render partial: "posts/quote", locals: { post: post } %>
        <% end %>
        <div class="text-center">
          <%= will_paginate @posts %>
        </div>
      </div>
    </div>
    <div class="col-sm-5 phxs mtm">
      People You May Know
      <% User.all.each do |user| %>
        <% if !current_user.following?(user) && current_user.id != user.id %>
          <div class="mtxxxs">
            <%= link_to "#{user.name}", user_path(user), class: "c-teal" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
