<div class="container phxs pbxxl">
  <div class="row nmhxs">
    <div class="col-sm-8 phxs">
      <div class="mtm phxs pvxs bg-16 bss bwhs bwts bwbm bc-2">
        <%= form_for :post, url: posts_path, method: :post, html: { id: "user-posts-create" } do |f| %>
          <%= f.hidden_field :quote_id, class: "js-post-quote-id" %>
          <% Tag.order(:name).each do |tag| %>
            <%= f.check_box :tag_ids, {multiple: true, class: "hide"}, tag.id, nil %>
          <% end %>
        <% end %>
        <%= form_for :quote, url: quotes_path, method: :post, remote: true, html: { id: "quotes-create" } do |f| %>
          <%= f.hidden_field :citable_type, class: "js-quote-citable-type", value: "Source" %>
          <%= f.hidden_field :citable_id, class: "js-quote-citable-id" %>
          <%= f.text_area :text, placeholder: "Quote someone", class: "paxs bss bwas bc-10 full-width" %>
          <%= f.text_field :name, placeholder: "Who said it?", class: "phxs pvxxxs mtxxxs bss bwas bc-10 full-width js-quote-source-name" %>
          <div class="c-10">
            Use @ to quote users.
          </div>
          <div class="row nmhxxxs mtxxxs hide js-post-tags">
            <% Tag.order(:name).each do |tag| %>
              <div class="mlxxxs mtxxxs pointer pull-left js-post-tag" data-id="<%= tag.id %>" data-name="<%= tag.name %>">
                <div class="paxxxs bg-10 bg-2-active c-16 fwl">
                  <%= tag.name %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="row nmhxxs">
            <div class="col-sm-10 phxxs mtxxs">
              <span class="lhs fwl c-teal pointer js-post-tags-toggle">
                <i class="fa fa-plus js-post-tags-toggle-icon"></i> Tags
              </span>
            </div>
            <div class="col-sm-2 phxxs mtxxs">
              <div class="text-right">
                <%= f.submit "post", class: "btn btn-primary pvxxxs fsxxs fwl full-width" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mtm">
        <% @posts.each do |post| %>
          <%= render partial: "posts/quote", locals: { post: post } %>
        <% end %>
        <div class="text-center">
          <%= will_paginate @posts %>
        </div>
      </div>
    </div>
    <div class="col-sm-4 phxs mtm">
      <div class="mtxs-plus bss bwhs bwts bwbm bc-2">
        <div class="paxxs bg-16">
          Trending
        </div>
        <div class="paxxs bg-16 bss bwts bc-12">
          <% @trending_sources.each do |key, value| %>
            <div class="mtxs-plus">
              <%= link_to key[1], source_path(key[0]), class: "c-teal" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="mtxs-plus bss bwhs bwts bwbm bc-2">
        <div class="paxxs bg-16">
          Suggested People
        </div>
        <div class="paxxs bg-16 bss bwts bc-12">
          <% User.all.each do |user| %>
            <% if !current_user.following?(user) && current_user.id != user.id %>
              <div class="mtxxxs-plus">
                <%= link_to user_path(user) do %>
                  <div class="row nmhxxs">
                    <div class="col-xs-3 phxxs">
                      <%= image_tag avatar_image(user, :small), class: "img-responsive" %>
                    </div>
                    <div class="col-xs-9 phxxs">
                      <div class="fwl">
                        <%= user.name %>
                      </div>
                      <div class="c-6">
                        <table>
                          <tr>
                            <td class="plxxxs-plus">
                              <i class="fa fa-user"></i>
                            </td>
                            <td class="plxxxs-plus">
                              <%= number_to_shorthand(user.followers.count) %>
                            </td>
                            <td class="plxxxs-plus">
                              -
                            </td>
                            <td class="plxxxs-plus">
                              <i class="icon-rightquote fsxxxs"></i>
                            </td>
                            <td class="plxxxs-plus">
                              <%= number_to_shorthand(user.posts.count) %>
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
