<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.email_field :email, placeholder: "Email address", class: "phxxxs pvxxxs fsxxxs full-width", autofocus: true %>
  </div>
  <div class="mtxs">
    <%= f.password_field :password, placeholder: "Password", class: "phxxxs pvxxxs fsxxxs full-width", autocomplete: "off" %>
  </div>
  <div class="mtxs fsxxxxs c-16">
    <table>
      <tr>
        <td class="plxxxs-plus">
          <%= f.check_box :remember_me %> Remember Me
        </td>
        <td class="plxxxs-plus">
          <%= link_to "Forgot password?", new_user_password_path, class: "c-teal" %>
        </td>
      </tr>
    </table>
  </div>
  <div class="mtxs">
    <%= f.submit "log in", class: "btn btn-primary fsxxxs fwl pvxxxs full-width" %>
  </div>
<% end %>
