<div class="mtxxxs-plus phxs pvxs bg-16 bss bwhs bwts bwbm bc-2 js-post">
  <% cache("posts/#{post.id}/#{post.updated_at}") do %>
    <div class="row nmhxxxs">
      <div class="col-xs-2 col-md-1 phxxxs">
        <%= link_to user_path(post.posted_by_user) do %>
          <%= image_tag avatar_image(post.posted_by_user, :small), class: "img-responsive" %>
        <% end %>
      </div>
      <div class="col-xs-10 col-md-11 phxxxs">
        <div class="row nmhxxs">
          <div class="col-sm-8 phxxs">
            <table>
              <tr>
                <td>
                  <%= link_to post.user_name, user_path(post.posted_by_user), class: "fsxxxs fwl c-teal lhxs" %>
                </td>
                <td class="plxxxs">
                  <%= "<i class='icon-verified fsxxxs'></i>".html_safe if post.posted_by_user.verified %>
                </td>
                <% if post.original_post %>
                  <td class="plxxs c-10 fsxxxxs">
                    <i class="fsxxxxxs icon-requote c-teal"></i> Requoted by <%= link_to post.user.name, user_path(post.user), class: "c-8" %>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
          <div class="col-sm-4 phxxs text-right hidden-xs">
            <div class="fsxxxxs fws c-8">
              <abbr class="js-timeago" title="<%= post.created_at.getutc.iso8601 %>">
                <%= post.created_at.to_s %>
              </abbr>
            </div>
          </div>
        </div>
        <div class="fsxxxxs fws c-8 visible-xs">
          <abbr class="js-timeago" title="<%= post.created_at.getutc.iso8601 %>">
            <%= post.created_at.to_s %>
          </abbr>
        </div>
        <div class="mtxxxs fsxs c-2 lhxs">
          <i class="icon-leftquote c-10"></i>
          <span class="js-post-text"><%= post.quote.text %></span>
          <i class="icon-rightquote c-10"></i>
        </div>
      </div>
    </div>
  <% end %>
  <div class="row nmhxxs mtxxxs fss fwl">
    <div class="col-xs-6 phxxs c-10">
      <% if current_user %>
        <table>
          <tr>
            <td class="plxxs-plus">
              <%= form_for :like, url: likes_path, method: post.original.liked_by?(current_user) ? :delete : :post, remote: true, html: { class: "fsxs js-like js-like-Post-#{post.original.id}" }, data: { likable_type: "Post", likable_id: post.original.id } do |f| %>
                <%= f.hidden_field :likable_type, value: "Post" %>
                <%= f.hidden_field :likable_id, value: post.original.id %>
                <%= link_to "#", class: "js-like-submit js-like-submit-Post-#{post.original.id}#{ " active" if post.original.liked_by?(current_user) }", title: "Favorite" do %>
                  <i class="fa fa-star c-teal-active"></i>
                <% end %>
                <span class="js-like-count-Post-<%= post.original.id %><%= " hide" if post.original.likes_count == 0 %>">
                  <%= post.original.likes_count %>
                </span>
              <% end %>
            </td>
            <% if current_user.id != post.posted_by_user.id %>
              <td class="plxxs-plus">
                <%= form_for :post, url: posts_path do |f| %>
                  <%= f.hidden_field :original_post_id, value: post.original.id %>
                  <%= f.hidden_field :quote_id, value: post.quote_id %>
                  <%= button_tag data: { confirm: "Are you sure you want to requote this?" }, class: "pan bg-n", title: "Requote" do %>
                    <i class="icon-requote fsxxs c-teal"></i>
                  <% end %>
                <% end %>
              </td>
            <% end %>
            <td class="plxxs-plus">
              <span class="pointer js-post-more-toggle">
                <i class="fa fa-ellipsis-h fss c-teal-active"></i>
              </span>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
    <div class="col-xs-6 phxxs text-right">
      <%= link_to send("#{post.quote.citable_type.underscore}_path", post.quote.citable.slug), class: "c-teal" do %>
        <span class="js-post-name"><%= post.quote.name %></span>
      <% end %>
    </div>
  </div>
  <div class="row nmhxs mtxxxs ptxs bss bwts bc-14 hide js-post-more">
    <div class="col-xs-10 phxs">
      <% if post.original.tags.any? %>
        <% post.original.tags.each do |tag| %>
          <%= link_to tag_path(tag), class: "mlxxxs-plus show pull-left" do %>
            <div class="phxxxs pvxxxxs bg-2 c-16 fsxxxs fwl pull-left js-post-tag"><%= tag.name %></div>
          <% end %>
        <% end %>
      <% else %>
        <div class="phxxxs pvxxxxs bg-10 c-16 fsxxxs fwl pull-left">no tags</div>
      <% end %>
    </div>
    <div class="col-xs-2 phxs text-right">
      <i class="fa fa-share fsxs pointer c-10 js-facebook-share" data-link="<%= post_url(post) %>" title="Share"></i>
    </div>
  </div>
</div>
