<!DOCTYPE html>
<html>
<head>
  <title>Vrbtm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>
  <% if signed_in? %>
    <div class="fixed top left right bg-2">
      <div class="container phxs relative">
        <div class="row nmhxs dvm lhm">
          <div class="col-xs-2 col-sm-8 phxs">
            <div class="row nmhxs">
              <div class="col-xs-12 col-sm-2 phxs">
                <%= link_to root_path do %>
                  <i class="icon-vrbtm fsl c-16" style="vertical-align: middle"></i>
                <% end %>
              </div>
              <div class="col-xs-7 col-xs-1-offset phxs hidden-xs">
                <div class="relative c-10 fsxxxs">
                  <%= text_field_tag 'user_search', nil, placeholder: "Search people", class: "phxs mtxs bg-6 dvxs lhxs bras full-width js-people-search" %>
                  <div class="absolute right top mrxxxs">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-sm-4 phxs">
            <div class="row nmhxs">
              <div class="col-xs-9 phxs">
                <%= link_to user_path(current_user), class: "c-16 fsxxxs" do %>
                  <div class="mrxs daxs pull-left">
                    <%= image_tag avatar_image(current_user, :small), id: "current-user-avatar", class: "img-responsive mtxs" %>
                  </div>
                  <div id="current-user-name" class="pull-left"><%= current_user.name %></div>
                <% end %>
              </div>
              <div class="col-xs-3 phxxs">
                <table class="pull-right">
                  <tr>
                    <td class="pls-plus">
                      <%= link_to tags_path do %>
                        <i class="icon-stone c-16 fsxs"></i>
                      <% end %>
                    </td>
                    <td class="pls-plus">
                      <div class="relative js-notification-toggle">
                        <i class="icon-book c-16 fsxs pointer"></i>
                        <div class="absolute top right nmrxxxs mtxxxs full-width text-center lhxxxs<%= " hide" if current_user.notifications.where(read: false).count == 0 %> js-notification-badge">
                          <span class="phxxxs pvxxxxs bg-orange c-16 fsxxxxs circle js-notification-badge-count"><%= current_user.notifications.where(read: false).count %></div>
                        </div>
                      </div>
                    </td>
                    <td class="pls-plus">
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-cog c-16 fss"></i>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="row nmhxs">
          <div class="col-sm-4 col-sm-offset-8 phxs">
            <div class="absolute top right mlxs mrxs bg-16 bss bwhs bwts bwbm bc-2 zxl hide js-notifications">
              <% current_user.notifications.order("created_at desc").limit(5).each do |notification| %>
                <div class="bss bwts-plus bc-12 js-notification" data-url=<%= read_notification_url(notification) %><%= " data-read=true" if notification.read %>>
                  <%= link_to send("#{notification.notifiable_type.downcase}_path", notification.notifiable_id) do %>
                    <div class="paxs bg-16">
                      <div class="row nmhxxxs">
                        <div class="col-xs-1 phxxxs">
                          <%= image_tag avatar_image(notification.from_user, :small), class: "img-responsive" %>
                        </div>
                        <div class="col-xs-11 phxxxs">
                          <span class="fwl"><%= notification.subject %></span> <%= " #{notification.action} #{notification.text}" %>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="fixed top left right bg-2">
      <div class="container phxs">
        <div class="dvm lhm">
          <div class="pull-right c-16">
            <%= link_to "sign in", new_session_path(resource_name) %>
            -
            <%= link_to "sign up", new_user_registration_path %>
          </div>
          <div>
            <div class="pull-left">
              <%= link_to root_path do %>
                <i class="icon-vrbtm fsl c-16" style="vertical-align: middle"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container phxs ptxl pbxxxl">
    <%= yield %>
  </div>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
