<!DOCTYPE html>
<html>
<head>
  <title>Vrbtm</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    <div class="bg-2">
      <div class="container phxs">
        <div class="row nmhxs dvm lhm">
          <div class="col-xs-2 col-sm-8 phxs">
            <div class="row nmhxs">
              <div class="col-xs-12 col-sm-2 phxs">
                <%= link_to root_path do %>
                  <i class="icon-vrbtm fsl c-16" style="vertical-align: middle"></i>
                <% end %>
              </div>
              <div class="col-xs-7 col-xs-1-offset phxs hidden-xs">
                <div class="relative c-10 fsxxxs">
                  <%= text_field_tag 'user_search', nil, placeholder: "Search people", class: "phxs mtxs bg-6 dvxs lhxs bras full-width js-people-search" %>
                  <div class="absolute right top mrxxxs">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-10 col-sm-4 phxs">
            <div class="row nmhxs">
              <div class="col-xs-9 phxs">
                <%= link_to user_path(current_user), class: "c-16 fsxxxs" do %>
                  <div class="mrxs daxs pull-left">
                    <%= image_tag avatar_image(current_user, :small), id: "current-user-avatar", class: "img-responsive mtxs" %>
                  </div>
                  <div id="current-user-name" class="pull-left"><%= current_user.name %></div>
                <% end %>
              </div>
              <div class="col-xs-3 phxxs">
                <table class="pull-right">
                  <tr>
                    <td class="plxxs-plus">
                      <%= link_to tags_path do %>
                        <i class="fa fa-book c-16"></i>
                      <% end %>
                    </td>
                    <td class="plxxs-plus">
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="fa fa-sign-out c-16"></i>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="bg-2">
      <div class="container phxs">
        <div class="dvm lhm">
          <div class="pull-right c-16">
            <%= link_to "sign in", new_session_path(resource_name) %>
            -
            <%= link_to "sign up", new_user_registration_path %>
          </div>
          <div>
            <div class="pull-left">
              <%= link_to root_path do %>
                <i class="icon-vrbtm fsl c-16" style="vertical-align: middle"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= yield %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
